@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
/* --- NavBar --- */

.MuiIconButton-colorPrimary {
  color: #FF8000 !important;
}

/* --- Body --- */

.bodyBackground {

}

.bodyBackgroundImg {
  width: 100%;
  height: auto;
  filter: grayscale();
  
}


.bodyTitle {
  text-align: center;
  
  color: orange;
  font-size: 40px;
  font-family: 'Playfair Display', serif;

  
}

/* --- Bottom of Body --- */

.bottomBody {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.description {
 
  margin: 1rem;
  color: orange;
  text-align: center;
}

/* --- Special --- */

.MuiAccordionSummary-content{
  flex-grow: 0 !important;
}

/* --- Media Query --- */

@media only screen and (min-width: 768px){
  .bodyBackgroundImg {
    height: 400px;
    width: auto;
    margin-top: 2rem;
    border-radius: 30px;
  }
  .bodyBackground{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .description {
    width: 70%;
  }
}